{% extends 'base.html' %}
{% load static %}

{% block content %}

<main class="singleProject my-md">
    <div class="container">
        <div class="layout">
            <div class="column column--1of3">
                <h3 class="singleProject__subtitle">Tools & Stacks</h3>
                <div class="singleProject__toolStack">
                    {% for tag in project.tags.all %}
                    <span class="tag tag--pill tag--sub tag--lg">
                        <small>{{ tag.name }}</small>
                    </span>
                    {% endfor %}
                </div>
                {% if project.demo_link %}
                <a class="singleProject__liveLink" href="{{ project.demo_link }}" target="_blank">
                    <i class="bi bi-broadcast"></i>
                    Live Demo
                </a>
                {% endif %}
                {% if project.source_link %}
                <a class="singleProject__liveLink" href="{{ project.source_link }}" target="_blank">
                    <i class="bi bi-file-earmark-code-fill"></i>
                    Source Code
                </a>
                {% endif %}
            </div>
            <div class="column column--2of3">
                <img class="singleProject__preview" src="{{ project.photo.url }}" alt="{{ project.name }}" />
                <a href="{% url 'profile' project.owner.id %}" class="singleProject__developer">
                    {% if project.owner.fullname %}
                    {{ project.owner.fullname }}
                    {% else %}
                    {{ project.owner.user.username }}
                    {% endif %}
                </a>
                <h2 class="singleProject__title">
                    {{ project.name }}
                </h2>
                <h3 class="singleProject__subtitle">About the Project</h3>
                <div class="singleProject__info">
                    {% if project.description %}
                    {{ project.description|linebreaksbr }}
                    {% else %}
                    No description
                    {% endif %}
                </div>

                {% if request.user.is_authenticated %}
                <div class="comments">
                    <h3 class="singleProject__subtitle">Feedback</h3>
<!--                    <h5 class="project&#45;&#45;rating">-->
<!--                        36% Postitive Feedback (18 Votes)-->
<!--                    </h5>-->

                    <form class="form" action="{% url 'project_detail' pk=project.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form__field">
                            <label for="formInput#textarea">Comments: </label>
                            <textarea class="input input--textarea" name="text" id="formInput#textarea"
                                placeholder="Write your comments here..." required></textarea>
                        </div>
                        <input class="btn btn--sub btn--lg" type="submit" value="Comments" />
                    </form>

                    <div class="commentList">
                        {% for comment in project.review_set.all %}
                        <div class="comment">
                            <a href="{% if comment.owner %} {% url 'profile' pk=comment.owner.id %} {% endif %}">
                                <img class="avatar avatar--md" src="{% if comment.owner %} {{ comment.owner.photo.url }} {% else %} {% static 'images/user-default.png' %} {% endif %}"
                                    alt="{% if comment.profile %} {{ comment.owner.fullname }} {% else %} Deleted Account {% endif %}" />
                            </a>
                            <div class="comment__details">
                                <a href="{% if comment.owner %} {% url 'profile' comment.owner.id %} {% endif %}" class="comment__author">
                                    {% if comment.owner %}
                                    {{ comment.owner.fullname }}
                                    {% else %}
                                    Deleted Account
                                    {% endif %}
                                </a>
                                <p class="comment__info">
                                    {{ comment.text|linebreaksbr }}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% else %}
                <br>
                <hr>
                <br>
                <small>Please <a href="{% url 'login' %}">Log In</a> to leave a comment</small>
                {% endif %}

            </div>
        </div>
    </div>
</main>

{% endblock content %}