{% extends 'base.html' %}

{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
<!--            <a class="backButton" href="{{ request.META.HTTP_REFERER }}">-->
<!--                &#8592;-->
<!--            </a>-->
<!--            <br>-->

            <form class="form" method="POST" action="">
                {% csrf_token %}
                <p>Are your sure you want to delete this "{{ obj_name }}" {{ obj_type }} ?</p>
                <a class="btn btn--sub btn--lg  my-md" href="{{ request.META.HTTP_REFERER }}">&#x2190 Go Back</a>
                <button type="submit" class="btn btn--sub btn--lg my-md">
                    <i class="bi bi-trash-fill"></i>
                    Delete {{ obj_type }}
                </button>
            </form>
        </div>
    </div>
</main>

{% endblock %}
