{% extends 'base.html' %}

{% block content %}


<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{{ request.META.HTTP_REFERER }}">
                &#8592;
            </a>
            <br>
            <h1>Enter new password</h1>
            <p>
               Please enter your new password twice so we can verify you typed it in correctly.
            </p>
            <br>
            <form class="form" method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Reset my password"/>
            </form>
        </div>
    </div>
</main>

<style type="text/css">
    input {
      min-width: 24rem;
      width: 100%;
      padding: 1.2rem 1.5rem;
      border-radius: 0.5rem;
      border: 2px solid var(--color-light);
      transition: all 0.3s ease-in-out;
      background-color: var(--color-bg);
    }
</style>
{% endblock content %}
